* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-size: 14px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
  }

#ct {
    padding: 30px 20px 30px 20px;
    background: #4aaaa5;
    color: white;
    font-size: 24px;
    font-family: 'Georgia', 'Times', Times New Roman, serif;
    font-weight: bold;
    float: left;
    width: 33%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 120px;
    text-align: center;
  }
     
.nav {
    background-color: #ffffff;
    color: #777777;
    width: 100%;
    float: left;
    text-align: right;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
  }

a {
    color: #777777;
    text-decoration: none;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 35px;
}

li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-right: .2px solid #cccccc;
}

li:last-child {
    border-right: none;
    margin-right: 120px;
}

.container {
    width: 960px;
    float: left;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    color:#777777;
    padding: 20px;
    margin-top: 40px; 
    margin-left: 120px; 
    margin-bottom: 80px;
    margin-right: 120px;


  }

h2 {
    color: #4aaaa5;
    font-size: 22px;
    font-family: 'Georgia', 'Times', Times New Roman, serif;
    font-weight: bold;
    background: #ffffff;
    text-align: left;
    margin: 20px;
    float: left;
    margin-left: 0px;
}

hr {
    color: #cccccc; 
    size: 3px;
    width: 920px;
    float: left;
}

#bio-image {
    float: left;
    width: 150px;
    height: 200px;
    margin-right: 20px;
    margin-top: 14px;
  }

#about-me {
    text-align: left;
    float: left;
}

p {
    text-align: left;
    margin-right: 20px;
    line-height: 2;
}

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type="submit" i], input[type="reset" i] {
        background: #4aaaa5;
        color: white;
        width: 80px;
        padding: 10px;
    }

    
.grid-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 850px;
    width: 960px;
    float: left;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    color:#777777;
    margin-top: 40px; 
    margin-left: 120px; 
    margin-bottom: 80px;
    margin-right: 120px;
}

#portfolio {
    text-align: left;
    margin-top: 20px;
    color: #4aaaa5;
    margin-left: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    width: 300px;
    margin: 20px;
}

.textwinter, .textsummer, .textspring, .textfall  {
    text-align: center;
    color: white;
    background: #4aaaa5;
    padding: 20px;
    font-size: 18px;
}

#winter, .winterimg, .textwinter {
    position: relative;
    bottom: 20%;
    
}

#spring, .springimg, .textspring {
    position: relative;
    bottom: 20%;
}

#summer, .summerimg, .textsummer {
    position: relative;
    bottom: 20%;
}

#fall, .fallimg, .textfall {
    position: relative;
    bottom: 20%;
    
}

#blue {
    clear: both;
      background: #4aaaa5;
      width: 100%;
      padding: 5px;
  }

#footer1 {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #666666;
    text-align: center;
    color: white;
    width: 100%;
    clear: both;
    }